---
import { type CollectionEntry, getCollection, render } from "astro:content";
import BackToPrevious from "@components/BackToPrevious.astro";
import Container from "@components/Container.astro";
import PostMeta from "@components/PostMeta.astro";
import PostNavigation from "@components/PostNavigation.astro";
import RevisionHistory from "@components/RevisionHistory.astro";
import TableOfContents from "@components/TableOfContents.astro";
import PostLayout from "@layouts/PostLayout.astro";

export async function getStaticPaths() {
  const posts = (await getCollection("blog"))
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return posts.map((post) => ({
    params: { id: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const posts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

function getNextPost() {
  let postIndex: number | undefined;
  for (const post of posts) {
    if (post.id === Astro.params.id) {
      postIndex = posts.indexOf(post);
      return posts[postIndex + 1];
    }
  }
}

function getPrevPost() {
  let postIndex: number | undefined;
  for (const post of posts) {
    if (post.id === Astro.params.id) {
      postIndex = posts.indexOf(post);
      return posts[postIndex - 1];
    }
  }
}

const nextPost = getNextPost();
const prevPost = getPrevPost();

const post = Astro.props;
const { Content, headings } = await render(post);
---

<PostLayout post={post}>
  <Container>
    <div>
      <BackToPrevious href="/">Back to writing</BackToPrevious>
    </div>
    <div class="my-10 space-y-4">
      <div>
        <PostMeta post={post} />
      </div>
      <h1 class="font-heading text-3xl font-medium text-black dark:text-white">
        {post.data.title}
      </h1>
      {
        post.data.tags && post.data.tags?.length > 0 ? (
          <div class="flex gap-2 pt-1">
            {post.data.tags.map((tag) => (
              <a
                href={`/tags/${tag}`}
                class="rounded-sm border border-black/15 px-2 py-1 text-sm transition-colors duration-300 ease-in-out hover:bg-black/5 hover:text-black focus-visible:bg-black/5 focus-visible:text-black dark:border-white/20 dark:hover:bg-white/5 dark:hover:text-white dark:focus-visible:bg-white/5 dark:focus-visible:text-white"
              >
                {tag}
              </a>
            ))}
          </div>
        ) : null
      }
    </div>
    {headings.length > 0 && <TableOfContents headings={headings} />}
    <article>
      <Content />
    </article>
    <RevisionHistory filePath={post.filePath} />
    <div class="mt-24">
      <PostNavigation prevPost={prevPost} nextPost={nextPost} />
    </div>
  </Container>
</PostLayout>
